<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>PASSMAN</title>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
  </head>
  <body>
    <h1 class="title">PASSMAN</h1>
    <div>
      <div th:each="password : ${passwords}" th:text="${password.passwordOrigin} + ' ' + ${password.password}" th:class="password-box"></div>
    </div>

    <div class="form-container">
      <form hx-post="/password" hx-trigger="submit" hx-target="body" id="password-form">
        <label for="userId">UserId: </label>
        <select id="userId" name="userId" required>
          <option>1</option>
        </select>
        <label for="password">Password: </label>
        <input type="text" name="password" id="password" required />
        <label for="originName">Password Origin: </label>
        <input type="text" name="passwordOrigin" id="originName" required />
        <label for="passwordURL">Origin URL: </label>
        <input type="text" name="passwordURL" id="passwordURL" required />
        <button type="submit">NEW PASSWORD</button>
      </form>
    </div>
  </body>
  <style>
    body {
      background-color: gray;
    }
    .title {
      text-align: center;
    }
    .password-box {
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }
    .form-container {
      margin-top: 5rem;
      display: flex;
      justify-content: center;
    }
    #password-form {
      width: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  </style>
</html>
